<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/17392e3da3.js" crossorigin="anonymous"></script>
    <title>Practice</title>
</head>
<body>
  <div class="w-full h-screen flex items-center justify-center">
    <div class="w-full max-w-sm">
      <div class="text-center mb-5">
        <!-- <%= image_tag '/images/onlinejournal.svg', class: "w-52 mx-auto mb-4"%> -->
      </div>
      <div class=" bg-gray-100 py-10 px-8 rounded">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="mb-4">
            <div class="mb-2">
              <%= f.label :email, "メールアドレス", class:"block font-bold text-sm" %>
            </div>
            <div class="">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "hoge@example.com", class:"w-full bg-white py-3 px-4 rounded" %>
            </div>
          </div>
          <div class="mb-4">
            <div class="mb-2">
              <%= f.label :password, "パスワード", class:"block font-bold text-sm" %>
            </div>
            <div class="">
              <%= f.password_field :password, autocomplete: "current-password", class:"w-full bg-white py-3 px-4 rounded" %>
            </div>
          </div>
          <div class="text-center mb-4">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, "ログインしたままにする", class:"text-sm cursor-pointer" %>
          </div>
          <div class="text-center">
            <%= f.submit "ログイン", class:"w-full bg-gray-800 text-white py-3 px-4 rounded cursor-pointer font-bold" %>
          </div>
          <% if notice.present?%>
            <p class="mt-2 text-center text-gray-400">
              <i class="fa-solid fa-circle-exclamation"></i> <%= notice %>
            </p>
          <%end%>
          <% if alert.present?%>
            <p class="mt-2 text-center text-gray-400">
              <i class="fa-solid fa-circle-exclamation"></i> <%= alert %>
            </p>
          <%end%>
        <% end %>
      </div>
      <p class="text-center mt-4 text-gray-400 text-xs">©<%= Date.today.year%> ODI</p>
    </div>
  </div>
</body>
</html>