<div class="sidebar w-64 h-screen">
  <aside class="h-screen">
      <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50">
        <%= link_to current_user.name, manage_hoge_index_path, class:"flex items-center ps-2.5 mb-5"%>
        <ul class="space-y-2 font-medium">
            <li>
              <%= link_to "Action Text", manage_messages_path %>
            </li>
            <li>
              <%= link_to "Editor.js", manage_editors_path %>
            </li>
            <li>
              <%= link_to "PDF Upload", new_manage_pdf_path %>
            </li>
            <li>
              <%= link_to "Image Upload", new_manage_image_path %>
            </li>
            <li>
              <%= link_to "ユーザー情報変更", edit_user_registration_path %>
            </li>
            <% if current_user.admin %>
              <li>
                  <%= link_to "ユーザー管理", manage_users_path %>
              </li>
            <% end %>
            <% if current_user.admin %>
              <li>
                  <%= link_to "システム設定", manage_setting_index_path %>
              </li>
            <% end %>
            <li>
              <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete } %>
            </li>
        </ul>
        <p class="py-4">remote_ip:<%= request.remote_ip %></p>
      </div>
  </aside>
</div>